.search {
    width: 100%;
    /* position: relative;
    left: 22rem;
    top: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.search-bar input {
    width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    margin-right: 30px;
    flex-grow: 1;

}

.search-bar button {
    height: 40px;
    background-color: #1c3657;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    cursor: pointer;
}